@model List<TasteFoodIt.Entities.Admin>
@{
	ViewBag.Title = "AdminList";
	Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid" id="container-wrapper">
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Yönetici Listesi</h1>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/Default/Index/">Ana Sayfa</a></li>
			<li class="breadcrumb-item">Yöneticiler</li>
			<li class="breadcrumb-item active" aria-current="page">Yönetici İşlemleri</li>
		</ol>
	</div>

	<div class="row">
		<div class="col-lg-12 mb-4">
			<!-- Simple Tables -->
			<div class="card">
				<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead class="thead-light">
							<tr>
								<th>Yönetici Id</th>
								<th>Kullanıcı Adı</th>
								<th>Parola</th>
								<th>Ad Soyad</th>
								<th>Fotoğraf</th>
								<th>Sil</th>
								<th>Güncelle</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td>@item.AdminId</td>
									<td>@item.Username</td>
									<td>@item.Password</td>
									<td>@item.NameSurname</td>
									<td><img src="@item.ImageUrl" height="100px" width="100px" class="img-thumbnail" /></td>
									<td><a href="/Admin/DeleteAdmin/@item.AdminId" class="btn btn-danger">Sil</a></td>
									<td><a href="/Admin/UpdateAdmin/@item.AdminId" class="btn btn-success">Güncelle</a></td>
								</tr>
							}
						</tbody>
					</table>
					<a href="/Admin/CreateAdmin/" class="btn btn-primary">Yeni Yönetici Girişi</a>
				</div>
				<div class="card-footer"></div>
			</div>
		</div>
	</div>
</div>


